fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
httpx==0.28.1
pydantic==2.11.7
python-docx==1.2.0
python-pptx==1.0.2
openpyxl==3.1.5
pypdf==5.7.0
beautifulsoup4==4.13.4
lxml==6.0.0
PyMuPDF==1.26.3
reportlab==4.4.2
pytesseract==0.3.13
Pillow==11.3.0
arabic-reshaper==3.0.0
python-bidi==0.6.7
